body, html {
    height: 100%;
    margin: 20px;
    background-color: #f0f0f0;
    padding: 50px;
    background: url('./netcon.jpg') no-repeat fixed;
    background-size: 200px;
  }

/* .abc{
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 20px;
} */

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
}

.wrapper {
    width: 420px;
    background: rgb(0, 238, 255);
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 50px;
    text-align: center;
    color: black;
}

.wrapper h2 {
    font-size: 35px;
    text-align: center;
    color: black;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 60px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 100px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: black;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #333;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 4px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover { 
    text-decoration: underline;
    color: black;
}

.wrapper button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: 5;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.wrapper .register-link{
    font-size: 20px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
    color: black;
}

.home-container {
    display: flex;
    flex-direction: column; /* Stack heading and button vertically */
    height: 100%; /* Stretch to fill viewport */
    justify-content: space-between; /* Align heading and button at top and bottom */
  }
  
  .header {
    text-align: center; /* Center heading horizontally */
  }
  
  .main {
    display: flex;
    justify-content: flex-end; /* Align button to the right corner */
  }

  .next{
    display: flex;
    justify-content: space-around; /* Distribute buttons evenly */
    margin-top: 20px; /* Add some space between the header and buttons */
  }
  
  .logout-button {
    /* Customize button styles as needed */
    width: 10%;
    height: 45px;
    background: #77baf1;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
  }

  .nav-button {
    width: 20%;
    height: 100px;
    background: #77baf1;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    margin: 10px; /* Add space between buttons */
  }

  /* .nav-button.networking{
    background-image: url('networking.png');
    background-size: cover;
    background-position: center;
  } */

  button:hover {
    background-color: rgb(128, 234, 241);
  }